<h3>Tìm kiếm</h3>
<div>
  <h4 class="first">Kiểu di sản:</h4>
  <p-dropdown [options]="loaiDiSanOptions" [(ngModel)]="loaiDiSan" placeholder="Chọn loại di sản"></p-dropdown>
</div>
<div *ngIf="loaiDiSan">
  <h4 class="first">Tên di sản:</h4>
  <!-- <input id="input" type="text" size="30" pInputText [(ngModel)]="name"> -->
  <p-autoComplete [(ngModel)]="TenDiSan" [suggestions]="TenDiSanSuggestion" (completeMethod)="suggestTenDiSan($event)" styleClass="input-field"></p-autoComplete>
  <h4 class="first">Kiểu di sản:</h4>
  <p-multiSelect *ngIf="loaiDiSan == 'Địa chất'" [options]="kieuDiSanDiaChatOption" [(ngModel)]="kieuDiSanDiaChat" [panelStyle]="{minWidth:'100%'}" [defaultLabel]="'Chọn'" styleClass="input-field"></p-multiSelect>
  <p-dropdown *ngIf="loaiDiSan == 'Văn Hóa'" [options]="getDistinstValues('KieuDiSan') | async" [(ngModel)]="kieuDiSanVanHoa" placeholder="Chọn"></p-dropdown>
  <h4 class="first">Tên huyện:</h4>
  <!-- <input id="input" type="text" size="30" pInputText [(ngModel)]="districtName"> -->
  <!-- <p-autoComplete [(ngModel)]="districtName" [suggestions]="districtNameResults" (completeMethod)="suggestDistrictName($event)"></p-autoComplete> -->
  <p-multiSelect [options]="getDistinstValues('Huyen') | async" [(ngModel)]="huyen" [panelStyle]="{minWidth:'100%'}" [defaultLabel]="'Chọn'" styleClass="input-field"></p-multiSelect>
  <h4 class="first">Tên xã:</h4>
  <!-- <input id="input" type="text" size="30" pInputText [(ngModel)]="communeName"> -->
  <p-multiSelect [options]="getDistinstValues('Xa') | async" [(ngModel)]="xa" [panelStyle]="{minWidth:'100%'}" [defaultLabel]="'Chọn'" styleClass="input-field"></p-multiSelect>
  <button style="margin-top: 1em" pButton class="ui-button-success" label="Tìm kiếm" icon="fa-search" (click)="search()"></button>
  <button style="margin-top: 1em" pButton class="ui-button-warning" label="Reset" icon="fa-undo" (click)="reset()"></button>
</div>