<h3>Tìm kiếm</h3>
<div class="ui-g">
  <div class="input-form">
    <label>Kiểu di sản:</label>
    <div class="ui-g-12" *ngFor="let type of HeritageTypes">
      <p-checkbox name="loaiDiSan" value="{{type}}" label="{{type}}" [(ngModel)]="loaiDiSanList"></p-checkbox>
    </div>
  </div>
</div>
<div *ngIf="loaiDiSanList.length > 0">

  <div class="input-form">
    <label>Tên di sản:</label>
    <p-autoComplete [(ngModel)]="TenDiSan" [suggestions]="TenDiSanSuggestion" (completeMethod)="suggestTenDiSan($event)" styleClass="input-field"></p-autoComplete>

  </div>

  <div class="input-form" *ngIf="loaiDiSanList.indexOf(HERITAGE_TYPE.DIA_CHAT) > -1">
    <label>Kiểu di sản địa chất:</label>
    <p-multiSelect [options]="kieuDiSanDiaChatOption" [(ngModel)]="kieuDiSanDiaChat" [panelStyle]="{minWidth:'100%'}" [defaultLabel]="'Chọn'"
      styleClass="input-field"></p-multiSelect>

  </div>
  <div class="input-form" *ngIf="loaiDiSanList.indexOf(HERITAGE_TYPE.VAN_HOA) > -1">
    <label>Kiểu di sản văn hóa:</label>
    <p-dropdown [options]="getDistinstValues('KieuDiSan', HERITAGE_TYPE.VAN_HOA) | async" [(ngModel)]="kieuDiSanVanHoa" placeholder="Chọn"
      styleClass="input-field"></p-dropdown>

  </div>
  <div class="input-form" *ngIf="loaiDiSanList.indexOf(HERITAGE_TYPE.SINH_HOC) > -1">
    <label>Kiểu di sản đa dạng sinh học:</label>
    <p-dropdown [options]="getDistinstValues('KieuDiSan', HERITAGE_TYPE.SINH_HOC) | async" [(ngModel)]="kieuDiSanSinhHoc" placeholder="Chọn"
      styleClass="input-field"></p-dropdown>

  </div>

  <div class="input-form">
    <label>Tên huyện:</label>
    <p-multiSelect [options]="getDistinstValues('Huyen') | async" [(ngModel)]="huyen" [style]="{width :'100%'}" [defaultLabel]="'Chọn'"
      styleClass="input-field"></p-multiSelect>
    <!-- </label> -->
  </div>


  <div class="input-form">
    <label>Tên xã:</label>
    <p-multiSelect [options]="getDistinstValuesForXa() | async" [(ngModel)]="xa" [style]="{width :'100%'}" [defaultLabel]="'Chọn'"
      styleClass="input-field"></p-multiSelect>
  </div>

  <p-footer>
    <button style="margin-top: 1em" pButton class="ui-button-success" label="Tìm kiếm" icon="fa-search" (click)="search()"></button>
    <button style="margin-top: 1em" pButton class="ui-button-warning" label="Reset" icon="fa-undo" (click)="reset()"></button>
  </p-footer>
</div>
