<header>
  <p-menubar [model]="items">
    <!-- <input type="text" pInputText placeholder="Search"> -->
    <button pButton label="Tìm kiếm" icon="fa-search" (click)="searchSidebarDisplay = true"></button>
  </p-menubar>
</header>
<div id="search-sidebar">
  <p-sidebar [(visible)]="searchSidebarDisplay" styleClass="ui-sidebar-sm" position="right" [baseZIndex]="10000">
    <app-search-sidebar (searched)="onSearched($event); searchSidebarDisplay = false; resultSidebarDisplay = true"></app-search-sidebar>
  </p-sidebar>
</div>
<div id="result-sidebar">
  <p-sidebar [(visible)]="resultSidebarDisplay" position="bottom" [baseZIndex]="10000">
    <div style="overflow: auto; height: 100%;">
      <p-dataTable [value]="searchResults" selectionMode="single" (onRowSelect)="onResultSelected($event)" [rows]="5" [paginator]="true">
        <p-column field="sign" header="Kí hiệu"></p-column>
        <p-column field="featured" header="Đặc điểm"></p-column>
        <p-column field="location" header="Vị trí"></p-column>
        <p-column field="type" header="Loại"></p-column>
        <p-column field="x" header="X"></p-column>
        <p-column field="y" header="Y"></p-column>
      </p-dataTable>
    </div>
  </p-sidebar>
</div>

<section id="content">
  <div class="ui-g ui-md">
    <div class="ui-g-12 ui-md-9">
      <app-leaflet-map [data]="data" (markerClicked)="onMarkerClicked($event)"></app-leaflet-map>
    </div>
    <div class="ui-g-12 ui-md-3">
      <p-panel header="Chi tiết điểm di sản" [style]="{'margin-bottom':'20px'}">
        <div *ngIf="selectedHeritage">
          <b>Kí hiệu: </b>{{selectedHeritage?.sign}}
          <br>
          <b>Đặc điểm: </b>{{selectedHeritage?.featured}}
          <br>
          <b>Loại: </b>{{selectedHeritage?.type}}
          <br>
          <b>Vị trí: </b>{{selectedHeritage?.location}}
          <br>
          <b>X: </b>{{selectedHeritage?.x}}
          <br>
          <b>Y: </b>{{selectedHeritage?.y}}
          <br>
          <b>File đính kèm: </b>
          <a href="{{selectedHeritage?.attachedFile}}">Link</a>
          <br>
        </div>
      </p-panel>
    </div>
  </div>
</section>
<footer>
</footer>