<header>
  <p-menubar [model]="items" styleClass="my-menubar">
    <button pButton label="Tìm kiếm" class="ui-button-success" icon="fa-search" (click)="searchSidebarDisplay = true"></button>
  </p-menubar>
</header>
<div id="search-sidebar">
  <p-sidebar [style]="{'overflow':'auto'}" [(visible)]="searchSidebarDisplay" styleClass="ui-sidebar-lg" position="right" [baseZIndex]="10000">
    <app-search-sidebar (searched)="onSearched($event); searchSidebarDisplay = false;"></app-search-sidebar>
  </p-sidebar>
</div>

<section id="content">
  <div class="ui-g ui-md">
    <div class="ui-g-12 ui-md-9" style="padding: 0px;">
      <app-leaflet-map 
        [markedPoints]='searchResults' 
        [bindingPoints]="[selectedHeritage]" 
        (markerClicked)="onMarkerClicked($event)"
        (drawed)="onDrawed($event)">
      </app-leaflet-map>
    </div>
    <div class="ui-g-12 ui-md-3" style="padding-top: 0px;">
      <p-panel *ngIf="selectedHeritage" header="Đặc điểm di sản" styleClass="my-panel-header" [style]="{'margin-bottom':'20px'}">
        <div>
          <b>Tên: </b>{{selectedHeritage?.TenDiSan}}
          <br>
          <b>Loại: </b>{{selectedHeritage?.LoaiDiSan}}
          <br>
          <b>Kiểu: </b>{{selectedHeritage?.KieuDiSan}}
          <br>
          <b>Hiện trạng bảo vệ: </b>{{selectedHeritage?.HienTrangB}}
          <br>
          <b>Huyện: </b>{{selectedHeritage?.Huyen}}
          <br>
          <b>Xã: </b>{{selectedHeritage?.Xa}}
          <br>
          <b>Thông tin xếp hạng: </b>{{selectedHeritage?.ThongTinXe}}
          <br>
          <b>Khả Năng Tiếp Cận Mùa Khô: </b>{{selectedHeritage?.KhaNangTiepCanMuaKho}}
          <br>
          <b>Khả Năng Tiếp Cận Mùa Mưa: </b>{{selectedHeritage?.KhaNangTiepCanMuaMua}}
          <br>
        </div>
        <div *ngIf="selectedHeritage" style="margin-top: 1em">
          <button pButton label="Reset" class="ui-button-warning" icon="fa-undo" (click)="selectedHeritage=undefined"></button>
          <button pButton label="Xem thêm" icon="fa-info" (click)="onSeeMore()" *ngIf="selectedHeritage.Link"></button>
        </div>
      </p-panel>
    </div>
  </div>
</section>
<section id="search-result" *ngIf="searchResults">
  <app-search-result [searchResults]="searchResults" (resultSelected)="onResultSelected($event)"></app-search-result>
</section>
<!-- <footer>
  <div class="alert alert-warning">
    Bản quyền thuộc về <strong>BTTNVN.</strong>
  </div>
</footer> -->