<p-card [style]="{'height': '100%'}">
  <div class="leaflet-map-style" leaflet leafletDraw [leafletOptions]="leafletOptions" [leafletLayersControl]="leafletLayersControl"
    [leafletMarkerCluster]="markers" [leafletLayers]="biologicalLayers" [leafletMarkerClusterOptions]="markerClusterOptions"
    [leafletDrawOptions]="drawOptions" (leafletMapReady)="onMapReady($event)">
    <div *ngIf="displayBiologicalLayers">
      <div *ngFor="let layer of biologicalLayers" [leafletLayer]="layer"></div>
    </div>
  </div>
  <p-footer>
    <div>
      <label>
        <input [(ngModel)]="displayGeologicalHeritageMarkers" (change)="changeDisplayLayer()" type="checkbox">Di sản địa chất</label>
      <label>
        <input [(ngModel)]="displayCulturalHeritageMarkers" (change)="changeDisplayLayer()" type="checkbox">Di sản văn hóa</label>
      <label>
        <input [(ngModel)]="displayBiologicalLayers" (change)="changeDisplayLayer()" type="checkbox">Đa dạng sinh học</label>
    </div>
  </p-footer>
</p-card>
