/* You can add global styles to this file, and also import other style files */
section {
    margin: 1em 0;
}

#result-sidebar {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 111111;
}

#result-sidebar .ui-sidebar {
    position: relative;
    z-index: 111111;
}

#result-sidebar .ui-sidebar-bottom {
    height: 100%;
}
.ui-menuitem-text {
    text-transform: uppercase;
    font-weight: bold;
}